### A cloth manufacturing company is interested to know about the segment or attributes causes high sale.
#dataset:Company_Data.csv
#Approach - A decision tree can be built with target variable Sale (we will first convert it in categorical variable) & all other variable will be independent in the analysis.

In [1]:
import pandas as pd

In [2]:
com=pd.read_csv('C:\\Users\\Raja\\Downloads\\assignments\\decisiontree\\Company_Data.csv')

In [3]:
com.head()

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,Bad,42,17,Yes,Yes
1,11.22,111,48,16,260,83,Good,65,10,Yes,Yes
2,10.06,113,35,10,269,80,Medium,59,12,Yes,Yes
3,7.40,117,100,4,466,97,Medium,55,14,Yes,Yes
4,4.15,141,64,3,340,128,Bad,38,13,Yes,No

In [4]:
com=pd.get_dummies(com, columns=['ShelveLoc','Urban','US'], drop_first=True)

In [5]:
com.head()

,Sales,CompPrice,Income,Advertising,Population,Price,Age,Education,ShelveLoc_Good,ShelveLoc_Medium,Urban_Yes,US_Yes
0,9.50,138,73,11,276,120,42,17,0,0,1,1
1,11.22,111,48,16,260,83,65,10,1,0,1,1
2,10.06,113,35,10,269,80,59,12,0,1,1,1
3,7.40,117,100,4,466,97,55,14,0,1,1,1
4,4.15,141,64,3,340,128,38,13,0,0,1,0

In [6]:
# Normalization function 
def norm_func(i):
    x = (i-i.min())/(i.max()-i.min())
    return (x)

In [8]:
# Normalized data frame (considering the numerical part of data)
df_com = norm_func(com.iloc[:,1:])
df_com.describe()

,CompPrice,Income,Advertising,Population,Price,Age,Education,ShelveLoc_Good,ShelveLoc_Medium,Urban_Yes,US_Yes
count,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000
mean,0.489541,0.481389,0.228793,0.510701,0.549671,0.514955,0.487500,0.212500,0.547500,0.705000,0.645000
std,0.156475,0.282687,0.229323,0.295344,0.141776,0.294551,0.327566,0.409589,0.498362,0.456614,0.479113
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.387755,0.219697,0.000000,0.258517,0.455090,0.268182,0.250000,0.000000,0.000000,0.000000,0.000000
50%,0.489796,0.484848,0.172414,0.525050,0.556886,0.536364,0.500000,0.000000,1.000000,1.000000,1.000000
75%,0.591837,0.707071,0.413793,0.778557,0.640719,0.745455,0.750000,0.000000,1.000000,1.000000,1.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000