### Classification model using Naive Bayes for salary data( predict wether Salary person is <=50K or >50K  
<li>SalaryData_Train.csv</li>
<li>SalaryData_Test.csv</li>

In [1]:
#Importing the libraries
import numpy as np
import pandas as pd
from sklearn.model_selection import cross_val_score
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix

In [2]:
#Importing the CSV File
data = pd.read_csv('C:\\Users\\Raja\\Downloads\\assignments\\naive\\SalaryData_Train.csv')
data.head()

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [3]:
data['Salary'].value_counts()

 <=50K    22653
 >50K      7508
Name: Salary, dtype: int64

In [4]:
data.shape

(30161, 14)

In [5]:
# Remove invalid data from table
data = data[(data.astype(str) != ' ?').all(axis=1)]

In [6]:
data.shape

(30161, 14)

In [7]:
# Create a new income_bi column
data['income'] = data.apply(lambda row: 1 if '>50K' in row['Salary'] else 0, axis=1)

In [8]:
data.head()

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary,income
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,0
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,0
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,0
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,0
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,0

In [9]:
# Remove redundant columns
data = data.drop(['capitalgain','capitalloss','Salary','race','relationship','maritalstatus','occupation','native'], axis=1)

In [25]:
data.head()

,age,educationno,hoursperweek,income,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Private,workclass_ Self-emp-inc,workclass_ Self-emp-not-inc,workclass_ State-gov,...,education_ Assoc-voc,education_ Bachelors,education_ Doctorate,education_ HS-grad,education_ Masters,education_ Preschool,education_ Prof-school,education_ Some-college,sex_ Female,sex_ Male
0,39,13,40,0,0,0,0,0,0,1,...,0,1,0,0,0,0,0,0,0,1
1,50,13,13,0,0,0,0,0,1,0,...,0,1,0,0,0,0,0,0,0,1
2,38,9,40,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,1
3,53,7,40,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,28,13,40,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0

In [11]:
# Use one-hot encoding on categorial columns
data = pd.get_dummies(data, columns=['workclass', 'education', 'sex'])

In [26]:
data.head(10)

,age,educationno,hoursperweek,income,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Private,workclass_ Self-emp-inc,workclass_ Self-emp-not-inc,workclass_ State-gov,...,education_ Assoc-voc,education_ Bachelors,education_ Doctorate,education_ HS-grad,education_ Masters,education_ Preschool,education_ Prof-school,education_ Some-college,sex_ Female,sex_ Male
0,39,13,40,0,0,0,0,0,0,1,...,0,1,0,0,0,0,0,0,0,1
1,50,13,13,0,0,0,0,0,1,0,...,0,1,0,0,0,0,0,0,0,1
2,38,9,40,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,1
3,53,7,40,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,28,13,40,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
5,37,14,40,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0
6,49,5,16,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
7,52,9,45,1,0,0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,1
8,31,14,50,1,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0
9,42,13,40,1,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,1

In [13]:
#feature_col=data.drop(['income'],axis=1)
#output_target=['income']
X = data.drop(['income'],axis=1)
Y = data['income']

In [15]:
Y

0        0
1        0
2        0
3        0
4        0
        ..
30156    0
30157    1
30158    0
30159    0
30160    1
Name: income, Length: 30161, dtype: int64

In [16]:
Xtrain, Xtest , ytrain, ytest = train_test_split(X,Y,test_size=0.3, random_state=1)

In [17]:
model = GaussianNB() # normal distribution

In [18]:
# Building and predicting at the same time 
pred = model.fit(X,Y).predict(Xtest)

In [19]:
# Confusion matrix GaussianNB model
confusion_matrix(ytest,pred) # GaussianNB model

array([[1066, 5688],
       [  65, 2230]], dtype=int64)

In [20]:
pd.crosstab(ytest.values.flatten(),pred) # confusion matrix using

col_0     0     1
row_0
0      1066  5688
1        65  2230

In [22]:
np.mean(pred==ytest.values.flatten()) # 36%

0.3642391424466792